<h1>가위바위보의 결과</h1>


<div class="secondgame" id='you'>
    당신<br>
    <img src="../assets/<%= @yourselection %>.png" width=250px height="250px"/>
    
</div>
<span style="font-size:xx-large; color:red; font-weight:bold; margin:20px" >vs</span>

<div class="secondgame" id='computer'>
    컴퓨터<br>
    <img src="../assets/<%= @randomchoice %>.png" width=250px height="250px" alt=""/>

</div>